body {
  font-family: 'franklin_gothic_bookregular';
  overflow-x: hidden;
}

body.landing-page {
  background: #05c5c0;
}
/*Login Screen Starts*/
.no-margin {
  margin: 0 !important;
}

.login-brand {
  width: 80px;
  margin: 60px auto 20px;
}

.login-brand.landing-brand {
  width: 187px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -54px 0 0 -94px;
}

.font-gotham-medium {
  font-family: 'gotham-medium';
}

.font-16 {
  font-size: 16px;
}

.font-12 {
  font-size: 12px;
}

.font-9 {
  font-size: 9px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.light-font {
  color: #343434;
}

.green-bg {
  background: #0dc7c2 !important;
}

.green-bg h1,
.green-bg h2,
.green-bg h3,
.green-bg h4,
.green-bg p {
  color: #fff;
}

.btn-social {
  display: block;
  border-radius: 23px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  font-size: 15px;
  margin: 6px auto;
}

.btn-social.btn-facebook {
  color: #3b5998;
  border: 2px solid #3b5998;
  margin-top: 70px;
  background: url("../img/facebook-f.png") no-repeat 12px center;
}

.btn-social.btn-google {
  color: #f64c4d;
  border: 2px solid #f64c4d;
  background: url("../img/google-g.png") no-repeat 12px center;
}

.btn-social.btn-facebook:hover,
.btn-social.btn-facebook:focus {
  color: #fff;
  background: #3b5998 url("../img/facebook-f-active.png") no-repeat 12px center;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}

.btn-social.btn-google:hover,
.btn-social.btn-google:focus {
  color: #fff;
  background: #f64c4d url("../img/google-g-active.png") no-repeat 12px center;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}
/*Login Screen Ends*/


/*Home Screen Starts*/
.login-brand.home-brand {
  margin: 0 auto;
  width: 29px;
}

header {
  background: #222325;
  padding: 6px 0;
  position: relative;
}

.add-contest {
  background: url("../img/nav-create.png") no-repeat -5px -5px transparent;
  color: #FFFFFF;
  font-size: 22px;
  height: 20px;
  position: absolute;
  right: 16px;
  top: 12px;
  width: 20px;
  text-indent: -9999px;
  outline: none;
}

.add-contest:hover,
.add-contest:focus {
  outline: none;
}

.header-stripe {
  overflow: hidden;
}

.header-stripe span {
  width: 33%;
  border-bottom: 2px solid #0dc7c2;
  text-indent: -9999px;
  height: 0;
}

.header-stripe span.header-center-stripe {
  border-bottom: 2px solid #7156c1;
}

.header-stripe span.header-right-stripe {
  border-bottom: 2px solid #f64c4d;
}

.comment-container {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.single-comment-wrap {
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 8px 9px;
  position: relative;
  cursor: pointer;
}
.single-album{
  position: relative;
}
.single-album .single-comment-avatar{
  left: 8px;
  position: absolute;
  top: 9px;
  z-index: 2;
  cursor: pointer;
}
.modal-content ul{
  padding: 0 10px;
}
.modal-content ul.select-album{
  padding: 0;
  margin: 0;
}
.single-album .single-comment-wrap{
  padding-left: 54px;
}
.home-content .single-album .single-comment-content{
  width: 80%;
}
.single-comment-wrap.unread {
  background: #f2f2f2;
}
.select-album-single-modal .modal-footer{
  padding: 0 20px;
  margin: 0;
  border-top: 0;
  background: #f2f2f2;
}
.select-album-single-modal .modal-header{
  background: #f2f2f2;
}
.single-comment-avatar {
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 45px;
}



.contest-complete .single-comment-content{
  width: 100%;
  margin: 0;
  position: inherit;
  height: 29px;
}
.offer-detail{
  padding-left: 80px;
}
.contest-complete .single-comment-content .time-stamp{
  position: inherit;
  margin-right: 10px;
}
.contest-complete .single-comment-prize{
  width: 100%;
  padding-right: 10px;
  color: #333;
  font-size: 13px;
}
.contest-complete .single-comment-prize span{
  font-size: 14px;
}
.leaderboard-wrap .single-comment-content p {
  color: #333;
  font-family: 'gotham-medium';
  font-size: 16px;
}


.single-comment-content .commenter-name {
  color: #0dc7c2;
  font-family: 'franklin_gothic_book_demi';
}

.single-comment-content .comment-event-name {
  color: #333;
}

.single-comment-content .time-stamp {
  position: absolute;
  font-size: 10px;
  bottom: -6px;
  left: 0;
}

.next-arrow {
  position: absolute;
  background: url("../img/nxt-arrow-btn.png") no-repeat;
  height: 15px;
  width: 9px;
  right: 15px;
  top: 50%;
  margin-top: -8px;
}
/*Home Screen Ends*/


/*Nav toggle starts*/
.nav-toggle {
  background: url("../img/nav.png") no-repeat;
  width: 21px;
  height: 16px;
  margin: 10px 0 0 20px;
  display: block;
  cursor: pointer;
  position: relative;
}

.notification {
  position: absolute;
  /*height: 14px;*/
  width: 14px;
  line-height: 14px;
  background: #e72c2c;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  right: -8px;
  top: -8px;
  color: #fff;
  text-align: center;
  font-size: 9px;
}

.sidebar .notification {
  font-size: 12px;
  line-height: 18px;
  background: #fff;
  color: #0dc7c2;
  text-align: center;
  width: 30px;
  right: 50px;
  top: -2px;
  padding-top: 1px;
}
/*Nav toggle ends*/

/*sidebar starts*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 262px;
  padding: 10px;
  background: #0dc7c2;
  height: 100%;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}

.sidebar-header {
  border-bottom: 1px solid #56d8d4;
  padding-bottom: 18px;
}

.sidebar-header .single-comment-avatar {
  width: 60px;
  margin: 0 auto;
}

.sidebar-header a {
  display: block;
  font-size: 12px;
  color: #156a68;
}

.sidebar-header a:hover,
.sidebar-header a:focus {
  text-decoration: none;
}

.avatar-name {
  color: #fff;
  margin-top: 6px !important;
  font-family: 'franklin_gothic_book_demi';
  font-size: 18px;
}

.sidebar ul {
}

.sidebar ul li {
  margin: 20px 0;
  position: relative;
}

.sidebar ul li .icon {
  width: 24px;
  display: block;
}

.sidebar ul li.link-participated .icon {
  width: 18px;
}

.sidebar ul li.link-create-contest .icon {
  width: 19px;
}

.sidebar ul li a {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  display: block;
  text-indent: 16px;
}

.sidebar ul li.link-home a {
  line-height: 26px;
}

.sidebar ul li.link-create-contest a {
  line-height: 19px;
  text-indent: 22px;
}

.sidebar ul li.link-my-contest a {
  line-height: 22px;
}

.sidebar ul li.link-participated a {
  line-height: 30px;
  text-indent: 22px;
}

.sidebar ul li.link-notifications a {
  line-height: 16px;
}

.sidebar ul li.link-settings a {
  line-height: 26px;
}

.sidebar ul li.link-logout a {
  line-height: 24px;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus {
  text-decoration: none;
}

.home-content {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}
.home-content div{
  background: #fff;
}
.home-content .single-comment-content {
  width: 70%;
  margin: 0 0 0 12px;
  color: #7b7b7b;
  font-size: 14px;
  position: relative;
  background: transparent;
}
.sidebar-open .home-content {
  left: 262px;
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}

.sidebar-open .sidebar {
  left: 0;
}
.photo-check {
  display: none;
}
.photo-check + label {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.photo-check:checked + label {
  background: url("../img/checked.png") no-repeat center rgba(0, 0, 0, 0.7);
}

#myTab {
  margin: 14px auto;
  border: 2px solid #0dc7c2;
  border-radius: 23px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  overflow: hidden;
}

#myTab li {
  width: 50%;
  margin: 0;
}

#myTab li a {
  color: #0dc7c2;
  text-align: center;
  border: 0;
  border-radius: 0;
  margin: 0;
}

#myTab li a:hover,
#myTab li a:focus {
  outline: none;
  background: none;
}

#myTab li.active a {
  color: #fff;
  background: #0dc7c2;
  border-radius: 0 23px 23px 0;
  -moz-border-radius: 0 23px 23px 0;
  -webkit-border-radius: 0 23px 23px 0;
}

#myTab li:nth-child(even).active a {
  border-radius: 23px 0 0 23px;
  -moz-border-radius: 23px 0 0 23px;
  -webkit-border-radius: 23px 0 0 23px;
}

.font-demi {
  font-family: 'franklin_gothic_book_demi';
}

.btn-cancel {
  border: 1px solid #f64c4d;
  color: #f64c4d;
  background: #fff;
  width: 45%;
  margin: 6px 6px 20px;
}

.btn-green {
  border: 1px solid #0DC7C2;
  color: #0DC7C2;
  background: #fff;
  margin: 0 auto;
}

.btn-green:hover,
.btn-green:focus {
  background: #0DC7C2;
  color: #fff;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}

.btn-continue {
  border: 1px solid #0dc7c2;
  color: #fff;
  background: #0dc7c2;
  width: 45%;
  margin: 6px;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}
.btn-view-more,
.btn-go{
  width: 100%;
  margin: 12px 0;
}
.btn-cancel:hover,
.btn-cancel:focus {
  background: #f64c4d;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}

.btn-continue:hover,
.btn-continue:focus {
  background: #0dc7c2;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-continue:hover,
.btn-continue:focus {
  color: #fff;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}

.question-list .single-comment-content {
  color: #333;
  font-size: 13px;
  font-family: 'gotham-medium';
  text-transform: none;
}

.icontest-input input {
  background: #f2f2f2;
  border: 1px solid #b4b0b0;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.icontest-input .form-group {
  border-bottom: 1px solid #CCCCCC;
  padding: 0 15px;
}
.icontest-input .form-group:last-child{
  margin-bottom: 0;
}
.no-border {
  border: 0 !important;
}

.check {
  display: none;
}

.check + label {
  padding-left: 40px;
  background: url("../img/uncheck1.png") no-repeat 0 center;
  line-height: 40px;
  color: #333;
  font-size: 14px;
  font-family: 'gotham-medium';
  text-transform: none;
}

.check:checked + label {
  background: url("../img/checked1.png") no-repeat 0 center;
}

.icontest-input .btn-cancel {
  background: #fff;
  margin: 0 auto 10px;
  width: auto;
}

.icontest-input .btn-cancel:hover,
.icontest-input .btn-cancel:focus {
  background: #F64C4D;
  color: #fff;
  -webkit-transition: all 500ms ease-out 0.25s;
  -moz-transition: all 500ms ease-out 0.25s;
  -o-transition: all 500ms ease-out 0.25s;
  transition: all 500ms ease-out 0.25s;
}

.modal-content {
  overflow: hidden;
}
.photo-based .modal li,
.sponsor-list .modal li,
.select-album .modal li{
  width: 100%;
  float: none;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 12px;
}
.photo-based .modal-footer,
.sponsor-list .modal-footer,
.select-album .modal-footer{
  margin: 0;
  border: 0;
  padding: 12px;
}
.photo-based li,
.sponsor-list li,
.select-album li{
  display: block;
  float: left;
  width: 50%;
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  position: relative;
}
.photo-based li:nth-child(even),
.sponsor-list li:nth-child(even),
.select-album li:nth-child(even){
  border-right: 0;
}
.photo-based .modal-title,
.sponsor-list .modal-title,
.select-album .modal-title{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
.photo-based span,
.sponsor-list span,
.select-album span{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}
label {
  color: #333;
  font-family: 'franklin_gothic_bookregular';
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
}

.form-group .form-info {
  color: #777777;
  font-family: 'franklin_gothic_bookregular';
}

.mask {
  position: fixed;
  z-index: 4;
  background: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.zoomed-image-wrap {
  position: fixed;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  overflow: hidden;
  border: 6px solid #fff;
  box-shadow: 0 0 25px #000;
  -moz-box-shadow: 0 0 25px #000;
  -webkit-box-shadow: 0 0 25px #000;
}

.zoomed-image-wrap img {
  width: 100%;
}

.img-zoom {
  cursor: pointer;
}

.list-check {
  display: none;
}

.list-check + label {
  background: #fff url("../img/uncheck1.png") no-repeat 96% center;
}

.list-check:checked + label {
  background: #fff url("../img/checked1.png") no-repeat 96% center;
}

.list-check + label.special-label {
  background: #f2f2f2 url("../img/uncheck1.png") no-repeat 96% center;
}

.list-check:checked + label.special-label {
  background: #f2f2f2 url("../img/checked1.png") no-repeat 96% center;
}

.question-list label {
  display: block;
}

.special-label {
  line-height: 46px;
  padding-left: 10px;
}

.search-form {
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  margin-bottom: 10px;
  background: #fff url("../img/serach-icon.png") no-repeat 10px center;
  padding-left: 30px;
}

.single-counter {
  color: #333333;
  font-family: 'gotham-medium';
  font-size: 16px;
  line-height: 40px;
  margin-right: 10px;
  margin-bottom: 0;
}
/*sidebar ends*/


/*question*/

.question-wrap {
  background: #0e0e0e;
  position: relative;
  min-height: 460px;
}

.question-wrap .question-control {
  background: #0dc7c2;
  padding: 6px;
  position: relative;
}

.question-wrap .question-area {
  background: #0dc7c2;
  padding: 10px 0;
  position: relative;
}

.question-wrap .question-area:after {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  margin-left: -5px;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0dc7c2;
}

.question-wrap .question-area h2 {
  margin: 0 auto;
  color: #fff;
  font-family: 'gotham_bookregular';
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

.question-wrap .question-display-image {
  max-height: 300px;
  overflow: hidden;
}
.question-wrap .question-display-image img {
  margin:auto;
  max-height: 300px;
}

.question-wrap .question-options {
  padding: 0 0 5px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0E0E0E;
}

.question-wrap .question-options a,
.question-wrap .question-options .options {
  float: left;
  background: #fff;
  margin: 7px 0 0 0;
  width: 49%;
  padding: 10px 16px;
  text-align: center;
  color: #333;
  font-family: 'gotham-medium';
  display: block;
  min-height: 65px;
  line-height: 42px;
  border: 0;
}

.question-wrap .question-options p:hover,
.question-wrap .question-options .options:hover,
.question-wrap .question-options p:focus,
.question-wrap .question-options .options:focus {
  text-decoration: none;
}

.question-wrap .question-options p.lengthy-option,
.question-wrap .question-options .options.lengthy-option {
  line-height: 21px;
}

.question-wrap .question-options p:nth-child(odd),
.question-wrap .question-options .options:nth-child(odd) {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

.question-wrap .question-options p:nth-child(even),
.question-wrap .question-options .options:nth-child(even) {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  float: right;
}

.btn-previous {
  background: transparent url("../img/arrowIcon-left.png") no-repeat;
  width: 13px;
  height: 24px;
  padding: 0;
  border: 0;
  outline: none;
}

.btn-previous:focus {
  background: transparent url("../img/arrowIcon-left.png") no-repeat;
  border: 0;
  padding: 0;
  outline: none;
}

.question-wrap .btn-previous {
  position: absolute;
  left: 12px;
  top: 14px;
}

.score {
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  line-height: 1.2;
  color: #fff;
  font-family: 'gotham-medium';
}

.question-wrap .score {
  position: absolute;
  right: 6px;
  top: 6px;
}

.question-wrap .progress {
  background: #0a9f9b;
  height: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 70%;
  margin: 4px auto;
}

.question-wrap .progress-bar {
  background: #13f2a6;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.progress-indicator {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 12px;
  line-height: 1;
}

.facebook-name-results {
  position: relative;
  min-height: 400px;
}

.facebook-name-results .image-heading {
}

.facebook-name-results .facebook-name-q-a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.facebook-name-results .facebook-name-q-a .question {
  background: #d33b3b;
  color: #fff;
  text-align: center;
  position: relative;
  line-height: 50px;
  font-size: 18px;
  margin: 0;
}

.facebook-name-results .facebook-name-q-a .question.correct {
  background: #0ACD38;
}

.facebook-name-results .facebook-name-q-a .question:after {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  margin-left: -5px;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d33b3b;
}

.facebook-name-results .facebook-name-q-a .question.correct:after {
  border-top: 10px solid #0ACD38;
}

.close-it {
  position: absolute;
  display: block;
  cursor: pointer;
  right: 10px;
  top: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  height: 27px;
  width: 27px;
  z-index: 2;
  text-align: center;
  line-height: 24px;
  font-family: 'gotham-medium';
}

.margin-bottom {
  margin-bottom: 10px;
}

.facebook-name-results .options {
  margin-top: 10px;
}

.facebook-name-results .option {
  display: block;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  background: #fff;
  line-height: 30px;
}

.facebook-name-results .option:last-child {
  border-bottom: 0;
}

.without-image .question-display-image {
  display: none;
}

.without-image .question-wrap .question-options a,
.without-image .question-wrap .question-options .options {
  float: none !important;
  border-radius: 5px;
  width: 96%;
  margin: 7px auto;
  line-height: 44px;
}

.without-image .lengthy-option {
  line-height: 44px !important;
}

.without-image .question-wrap .question-area {
  padding-bottom: 32px;
}

.question-wrap .question-options a.right:focus,
.question-wrap .question-options .options.right:focus {
  color: #0acd38;
}

.question-wrap .question-options a.wrong:focus,
.question-wrap .question-options .options.wrong:focus {
  color: #eb3535;
}

.facebook-name-q-a .option.right {
  color: #0acd38;
}

.facebook-name-q-a .option.wrong {
  color: #eb3535;
}

.margin-12 {
  margin: 12px auto;
}

.facebook-avatar {
  background: #bdbdbd;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  overflow: hidden;
}

.facebook-avatar img {
  height: 150px;
  width: 150px;
}

.single-comment-prize {
  width: 20%;
  color: #7b7b7b;
  font-size: 12px;
}

.single-comment-prize span {
  display: block;
  color: #0dc7c2;
  font-size: 18px;
  font-family: 'gotham-medium';
}

.contest-complete .single-comment-content p {
  font-family: 'gotham-medium';
  color: #333;
  font-size: 18px;
}

.comment-container.contest-complete {
  margin: 0 0 24px;
}

.contest-complete .btn-cancel {
  width: 100%;
}

.question-block {
  position: relative;
  padding-bottom: 10px;
  min-height: 366px;
}
.contest-name{
  color: #0DC7C2;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.sponsor-list.multi{
  display: block;
  margin: 0;
}
.photo-album-container{
  background: #fff;
}
ul.photo-based,
.question-list{
  margin: 0;
  padding-bottom: 10px;
}
.container{
  background: #fff;
}
.margin-both{
  margin: 10px 0 !important;
}
.album-picture-gallery-wrap,
.album-picture-gallery{
  display: none;
}
.album-picture-gallery,
.select-album{
  height: 320px;
  overflow-y: scroll;
}
.album-picture-gallery-wrap .container{
  background: #f2f2f2;
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
}
.album-picture-gallery img{
  display: block;
  height: auto;
  width: 50%;
  float: left;
  padding: 5px;
  cursor: pointer;
}
/*iPhone 4 retina portrait*/
@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
  .sidebar-header{
    padding-bottom: 6px;
  }
  .sidebar ul li {
    margin: 12px 0;
  }
  .sidebar{
    padding-top: 6px;
  }
  .avatar-name{
    font-size: 16px;
    margin: 0 !important;
  }
  .question-wrap{
    min-height: 372px;
  }
  .question-wrap .question-options a,
  .question-wrap .question-options .options{
    padding: 5px 16px;
    min-height: 30px;
    line-height: 30px;
  }
  .question-wrap .question-options p.lengthy-option, .question-wrap .question-options .options.lengthy-option {
    line-height: 15px;
  }
}
/*iPhone 4 retina landscape*/
@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
  #iphone4_retina_landscape{
    display: block;
  }

}

/*iPhone 5 or iPod Touch 5th generation, portrait*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation:portrait) {
  #iphone5_portait{
    display: block;
  }
  .header-stripe span:last-child{
    width: 34%;
  }
}
/*iPhone 5 landscape*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
  #iphone5_landscape{
    display: block;
  }

}
