@font-face {
  font-family: 'franklin_gothic_bookregular';
  src: url('../fonts/FGBRegular/frabk_0-webfont.eot');
  src: url('../fonts/FGBRegular/frabk_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FGBRegular/frabk_0-webfont.woff') format('woff'),
  url('../fonts/FGBRegular/frabk_0-webfont.ttf') format('truetype'),
  url('../fonts/FGBRegular/frabk_0-webfont.svg#franklin_gothic_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'franklin_gothic_book_demi';
  src: url('../fonts/FGBBold/FranklinGothic-Demi.eot');
  src: url('../fonts/FGBBold/FranklinGothic-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FGBBold/FranklinGothic-Demi.woff') format('woff'),
  url('../fonts/FGBBold/FranklinGothic-Demi.ttf') format('truetype'),
  url('../fonts/FGBBold/FranklinGothic-Demi.svg#FranklinGothic-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham-medium';
  src: url('../fonts/Gotham-Medium/gotham-medium.eot');
  src: url('../fonts/Gotham-Medium/gotham-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Medium/gotham-medium.woff') format('woff'),
  url('../fonts/Gotham-Medium/gotham-medium.ttf') format('truetype'),
  url('../fonts/Gotham-Medium/gotham-medium.svg#gotham-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_bookregular';
  src: url('../fonts/Gotham-Regular/gotham-book-webfont-webfont.eot');
  src: url('../fonts/Gotham-Regular/gotham-book-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Regular/gotham-book-webfont-webfont.woff') format('woff'),
  url('../fonts/Gotham-Regular/gotham-book-webfont-webfont.ttf') format('truetype'),
  url('../fonts/Gotham-Regular/gotham-book-webfont-webfont.svg#gotham_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;

}